body{
    background-color: gray;
    display: flex;
    align-items: center;
    margin-top: 200px;
}

.list{
    background-color: darkgray;
    width: 250px;
    height: 450px;
    display: flex;
    border: 4px solid black;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 100px;
}

button{
    width: 125px;
    height: 50px;
}

.container{
    background-color: white;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    border: 4px solid black;
    flex-wrap: wrap;
    margin-left: 300px;
}


